<?xml version="1.0" ?>
<pythonbits>
	<string name="imdb_director_re">
		Director.*\n+\D*\d&gt;\D*&lt;a\s*href=&quot;/name/nm\d+/&quot;&gt;([\w\-\d\s]+)&lt;/a&gt;
	</string>
	<string name="imdb_writers_re">
		writerlist/[^&gt;]+&gt;([^&lt;]+)
	</string>
	<string name="imdb_languages_re">
		&lt;a href=&quot;/language/\w+&quot;&gt;(\w+\s*\w*)&lt;/a&gt;
	</string>
	<string name="imdb_aspectratio_re">
		&lt;h\d&gt;Aspect Ratio:&lt;/h\d&gt;\n+&lt;div class=&quot;info-content&quot;&gt;\n*([^&lt;]+)
	</string>
	<string name="imdb_alsoknownas_re">
		&lt;h5&gt;Also Known As:&lt;/h5&gt;&lt;div class=&quot;info-content&quot;&gt;([^\n]+)
	</string>
	<string name="imdb_plotkeywords_re">
		&lt;a href=&quot;/keyword/[\w\s\d\-]+/&quot;&gt;([^&lt;]+)
	</string>
	<string name="imdb_genre_re">
		&lt;a href=&quot;/genre/\w+&quot;&gt;(\w+)&lt;/a&gt;
	</string>
	<string name="imdb_summary_re">
		&lt;p class=[&quot;\']\w*plot(?:par)?\w*[&quot;\']&gt;\n*([^&lt;\n]+)
	</string>
	<string name="imdb_awards_re">
		&lt;h\d&gt;Awards:&lt;/h\d&gt;\n?&lt;div class=&quot;info-content&quot;&gt;\n*([^&lt;]+)
	</string>
	<string name="imdb_country_re">
		&lt;a href=&quot;/country/\w+&quot;&gt;(\w+\s*\w*)&lt;/a&gt;
	</string>
	<string name="imdb_trivia_more_re">
		&lt;[^&gt;]+&gt;|more\n*&lt;/a&gt;
	</string>
	<string name="imdb_plot_re">
		info-content&quot;&gt;\n*([^&lt;]+) &lt;a class=&quot;.*?&quot; href=&quot;/title/tt[0-9]+/plotsummary&quot;
	</string>
	<string name="imdb_title_re">
		&lt;title&gt;([^&lt;(]+)
	</string>
	<string name="imdb_mpaa_re">
		&lt;h\d&gt;&lt;a href=&quot;/mpaa&quot;&gt;MPAA&lt;/a&gt;:&lt;/h\d&gt;\n?&lt;div class=&quot;info-content&quot;&gt;\n*([^&lt;\n]+)
	</string>
	<string name="google_youtube_url">
		http://www.google.com/search?q=site%3Ayoutube.com+
	</string>
	<string name="wikipedia_url">
		http://en.wikipedia.org/wiki/[^&quot;]+
	</string>
	<string name="youtube_trailer_re">
		Trailer
	</string>
	<string name="google_wikipedia_url">
		http://www.google.com/search?q=site%3Awikipedia.org+
	</string>
	<string name="imdb_soundmix_re">
		&lt;a href=&quot;/List\?sound-mix[^&gt;]+&gt;\n*([^&lt;\n]+)
	</string>
	<string name="imdb_seasons_re">
		&lt;a href=&quot;episodes#season-[\d\w\-]+&quot;&gt;([^&lt;]+)
	</string>
	<string name="imdb_filminglocations_re">
		locations\+including[^&gt;]+&gt;\n*([^&lt;\n]+)
	</string>
	<string name="imdb_castsearch_re">
		name/nm\d+/.*?&gt;([^&lt;]+)&lt;/a&gt;&lt;/td&gt;&lt;td class=&quot;\w{3}&quot;&gt;(?: ... )?&lt;/td&gt;&lt;td class=&quot;char&quot;&gt;(?:&lt;a href=(?:'|&quot;)/character/ch\d+/(?:'|&quot;)&gt;)?([^&lt;]+)&lt;[^&gt;]+&gt;(?: / (?:&lt;a href=&quot;/character/ch\d+/&quot;&gt;)?([^&lt;]+)&lt;)?
	</string>
	<string name="google_url">
		http://www.google.com/search?q=%s+site%%3Aimdb.com
	</string>
	<string name="imdb_tagline_re">
		&lt;h\d&gt;Tagline:&lt;/h\d&gt;\n*&lt;div class=&quot;info-content&quot;&gt;\n*(.*?)\n*(?:&lt;/div&gt;|&lt;a)
	</string>
	<string name="imdb_trivia_re">
		&lt;h\d&gt;Trivia:&lt;/h\d&gt;(.*?)(?=&lt;/div&gt;)
	</string>
	<string name="imdb_releasedate_re">
		&lt;h\d class=&quot;inline&quot;&gt;Release Date:&lt;/h\d&gt;\n?\n*([^&lt;\n]+)
	</string>
	<string name="imdb_description_re">
		description&quot; content=&quot;([^&quot;]+)(?= Visit)
	</string>
	<string name="imdb_url_re">
		^(?:http://)?(?:www\.)?imdb\.com/title/tt\d+/?$
	</string>
	<string name="imgur_key">
		bc1d6b50ff5dc9a563ec01583bbd5677
	</string>
	<string name="imdb_company_re">
		/company/co\d+[^&gt;]+&gt;\n*([^&lt;]+)
	</string>
	<string name="imdb_color_re">
		&lt;a href=&quot;/List\?color-info=Color&amp;&amp;heading=\d+;Color&quot;&gt;\n*([^&lt;]+)
	</string>
	<string name="imdb_rating_re">
		(\d.\d)&lt;span&gt;/10
	</string>
	<string name="google_imdb_result_re">
		&lt;a href=&quot;(http://www.imdb.com/title/tt\d+/)&quot; .*?&gt;(.*?)(?=&lt;/a&gt;)
	</string>
	<string name="imdb_runtime_re">
		&lt;h\d&gt;Runtime:&lt;/h\d&gt;\n*([^&lt;\n]+)
	</string>
	<string name="update_url">
		https://github.com/Ichabond/Pythonbits/raw/master/config.xml
	</string>
	<string name="google_youtube_result_re">
		&lt;a href=&quot;(http://www.youtube.com/watch\?v=[\w\d]+)&quot; class=l&gt;(.*?)(?=&lt;/a&gt;)
	</string>
</pythonbits>
